ScrablerScriptsRunnerClient/Service References/ScrablerService/Scrabler.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Scrabler" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Scrabler" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfScriptInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ScriptInfo" nillable="true" type="tns:ScriptInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScriptInfo" nillable="true" type="tns:ArrayOfScriptInfo" />
  <xs:complexType name="ScriptInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Copyright" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Filename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LowerApplicationVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxApplicationVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScrablerVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScriptInfo" nillable="true" type="tns:ScriptInfo" />
</xs:schema>